<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="org.apache.kafka" level="INFO"/>
    <logger name="org.apache.kafka.common.metrics" level="INFO"/>
    
    <appender name="FILE_MAIN" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>/opt/ves-agent/log-%d{yyyy-MM-dd}.txt</fileNamePattern>
        <maxHistory>30</maxHistory>
        <totalSizeCap>5GB</totalSizeCap>
      </rollingPolicy>
      <append>true</append>
      <encoder>
         <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
      </encoder>
   </appender>

   <appender name="FILE_DATA" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>/opt/ves-agent/data-%d{yyyy-MM-dd}.txt</fileNamePattern>
        <maxHistory>30</maxHistory> 
        <totalSizeCap>1GB</totalSizeCap>
      </rollingPolicy>
      <append>true</append>
      <filter class="filter.MarkerFilter">
        <marker>DATA</marker>
        <onMismatch>DENY</onMismatch>
      </filter>
      <filter class="filter.MarkerFilter">
	<marker>DATA</marker>
	<onMatch>ACCEPT</onMatch>
      </filter>
      <encoder>
         <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
      </encoder>
   </appender>

   <root level="trace">
      <appender-ref ref="FILE_MAIN" />
      <appender-ref ref="FILE_DATA" />
      <appender-ref ref="STDOUT" />
   </root>

</configuration>
